{% extends "museum/base.html" %}
{% block content %}
<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Search <small>Results {{ page.start_index }}-{{ page.end_index }} of {{ page.paginator.count }}</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
					{% for result in page.object_list %}
						<div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="/collections/{{ result.object.reference }}">{{result.object.reference}}</a></h3>
                            </div>
                            <div class="panel-body">
								<b>Title: </b>{{ result.object.title }}</br>
								<b>Type: </b>{{ result.object.type }}
								<p align='right'>
								<a href="/collections/{{ result.object.reference }}" class="btn btn-primary btn-sm" role="button">View Details &raquo;</a>
								</p>
                            </div>
                        </div>
					
					{% empty %}
					No results found.
					{% endfor %}
					
					{% if page.has_previous or page.has_next %}
							<ul class="pagination">
								{% if page.has_previous %}
									<li><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">&laquo;</a></li>
								{% else %}
									<li class="disabled"><span>&laquo;</span></li>
								{% endif %}
								{% if page.has_next %}
									<li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">&raquo;</span></li>
								{% else %}
									<li class="disabled"><span>&raquo;</span></li>
								{% endif %}
							</ul>
						{% endif %}
                </div>

            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
	
{% endblock %}