{% extends "museum/base.html" %}
{% block content %}
<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Collections <small>Overview</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Reference</th>
                                        <th>Title</th>
                                        <th>Type</th>
                                        <th>Location</th>
										<th>Era</th>
                                    </tr>
                                </thead>
                                <tbody>
								{% for collection in collections %}
                                    <tr>
                                        <td><b><a href="/collections/{{collection.reference}}/">{{ collection.reference }}</a></b></td>
                                        <td>{{ collection.title }}</td>
                                        <td>{{ collection.type }}</td>
                                        <td>{{ collection.location }}</td>
										<td>{{ collection.era }}</td>
                                    </tr>
								{% endfor %}
                                </tbody>
                            </table>
                        </div>
						
						{% if collections.has_other_pages %}
							<ul class="pagination">
								{% if collections.has_previous %}
									<li><a href="?page={{ collections.previous_page_number }}">&laquo;</a></li>
								{% else %}
									<li class="disabled"><span>&laquo;</span></li>
								{% endif %}
								{% for i in collections.paginator.page_range %}
									{% if collections.number == i %}
										<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
									{% else %}
										<li><a href="?page={{ i }}">{{ i }}</a></li>
									{% endif %}
								{% endfor %}
								{% if collections.has_next %}
									<li><a href="?page={{ collections.next_page_number }}">&raquo;</span></li>
								{% else %}
									<li class="disabled"><span>&raquo;</span></li>
								{% endif %}
							</ul>
						{% endif %}

						
                    </div>
                </div>
                <!-- /.row -->

                
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
	
{% endblock %}